  body {
      font-family: Arial, Helvetica, sans-serif;
      color: #202529;
  }

  .shell {
      max-width: 600px;
      margin:5rem auto;
  }

.campaign {margin-bottom:1rem;border-top:1px solid #eeeeee;padding-top:20px;}
.campaign:first-child {border-top:none;}

.campaign div {margin-bottom:.5rem;font-size:1rem;}  
.campaign div.label {margin-bottom: 0;opacity:.6;font-size:.9rem;} 
